<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 将对象的创建交给spring容器，在这个配置文件去声明我要什么对象
        class：写java类的全限定类名，它是通过全类名使用反射的技术进行创建的
        id：就是给这个对象在程序上下文中取一个名字方便区分

        bean标签 就是注入
     -->
<!--    <bean class="com.hxh.pojo.User" id="user">-->
<!--        <property name="name" value="hxh"/>-->
<!--    </bean>-->

</beans>
